In [9]:
import pandas as pd
df = pd.read_csv('./LondonCars2014.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9080 entries, 0 to 9079
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          9080 non-null   object
 1   Model         9080 non-null   object
 2   Year          9080 non-null   int64
 3   Mileage       9080 non-null   int64
 4   Price         9080 non-null   int64
 5   Body Style    9080 non-null   object
 6   Ex Color      9080 non-null   object
 7   In Color      9080 non-null   object
 8   Engine        9080 non-null   object
 9   Transmission  9080 non-null   object
 10  Doors         9080 non-null   int64
dtypes: int64(4), object(7)
memory usage: 780.4+ KB

In [20]:
df = df.astype({'Make':'category', 'Model':'category', 'Year':'category',
                'Mileage':'int32', 'Price':'int64', 'Body Style':'category',
                'Ex Color':'category' , 'In Color':'category',
                'Engine':'category', 'Transmission':'category', 'Doors':'category'})

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9080 entries, 0 to 9079
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          9080 non-null   category
 1   Model         9080 non-null   category
 2   Year          9080 non-null   category
 3   Mileage       9080 non-null   int32
 4   Price         9080 non-null   int64
 5   Body Style    9080 non-null   category
 6   Ex Color      9080 non-null   category
 7   In Color      9080 non-null   category
 8   Engine        9080 non-null   category
 9   Transmission  9080 non-null   category
 10  Doors         9080 non-null   category
dtypes: category(9), int32(1), int64(1)
memory usage: 239.9 KB

In [23]:
print(df.shape)

(9080, 11)

In [24]:
print(df.columns)

Index(['Make', 'Model', 'Year', 'Mileage', 'Price', 'Body Style', 'Ex Color',
       'In Color', 'Engine', 'Transmission', 'Doors'],
      dtype='object')

In [26]:
print('Possible body styles:')
print(df['Body Style'].unique())

Possible body styles:
['Sedan', 'SUV', 'Hatchback', 'Wagon', 'Coupe', 'Minivan', 'Van', 'Pickup', 'Convertible', 'Chassis']
Categories (10, object): ['Chassis', 'Convertible', 'Coupe', 'Hatchback', ..., 'SUV', 'Sedan', 'Van', 'Wagon']

In [27]:
print('Possible external colours:')
print(df['Ex Color'].unique())

Possible external colours:
['Gray', 'Silver', 'Black', 'White', 'Red', ..., 'Orange', 'Beige', 'Yellow', 'Bronze', 'Pink']
Length: 15
Categories (15, object): ['Beige', 'Black', 'Blue', 'Bronze', ..., 'Red', 'Silver', 'White', 'Yellow']

In [31]:
print('min = {}'.format(df['Price'].min()))

min = 1490

In [34]:
print('max = {}'.format(df['Price'].max()))

max = 499898

In [36]:
print('average = {}'.format(df['Price'].mean()))

average = 24410.92665198238

In [40]:
print('median = {}'.format(df['Price'].median()))

median = 21500.0

In [41]:
print('std deviation = {}'.format(df['Price'].std()))

std deviation = 16300.355338946363